body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    page-break-inside: avoid;
}

.top-right {
    text-align: right;
}

.center-text {
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"] {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

button {
    background-color: rgb(90, 90, 138);
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
    margin-left: 150px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.underline {
    text-decoration: underline;
}
h3{
    font-size: 12pt;
}
.align{
    justify-content: left;
    
}
/* Hide elements with the no-print class when printing */
/* @media print {
    .no-print {
        display: none;
    }
}

/* Responsive styles */
@media (max-width: 600px) {
    .top-right {
        text-align: left;
    }

    .left-text {
        margin-left: 0;
    }

    .align p {
        margin: 5px 0;
    }

    input[type="text"], input[type="date"] {
        width: 100%;
    }
} 













































/* body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.top-right {
    text-align: right;
}

.center-text {
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
} */